version: '3.7'
services:
  proxy:
    image: traefik:v1.7.0-rc4-alpine
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: any
      labels:
        - traefik.enable=true
        - traefik.frontend.rule=Host:traefik.chno.xyz
        - traefik.docker.network=chneau_web
        - traefik.port=8080
        - traefik.backend=proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /containers/traefik/traefik.toml:/traefik.toml
      - /containers/traefik/acme.json:/acme.json
    environment:
      - DO_AUTH_TOKEN=${DO_AUTH_TOKEN:?}
    ports:
      - 80:80
      - 443:443
    networks:
      - chneau_web
networks:
  chneau_web:
    external: true
