version: '3.7'
services:
  chneau:
    image: chneau
    networks:
      - web
    ports:
      - "8000:8000"
    deploy:
      mode: replicated
      replicas: 4
      restart_policy:
        condition: any
      update_config:
        order: start-first
        delay: 0s
        parallelism: 2
      labels:
        - traefik.enable=true
        - traefik.frontend.rule=Host:chneau.xyz
        - traefik.docker.network=chneau_web
        - traefik.port=8000
        - traefik.backend=web
    healthcheck:
      test: wget --quiet --tries=1 --spider http://localhost:$$PORT/health || exit 1
      interval: 5s
      timeout: 3s
      retries: 4
      start_period: 5s
    environment:
      PORT: ${PORT:-8000}
networks:
  web:
