on:
  workflow_dispatch:
  schedule: [{ cron: 0 */3 * * * }]

env: { USER_TIMEZONE: Europe/London }

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: header.svg
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ github.token }}
          user: ${{ github.repository_owner }}
          template: classic
          base: header
          config_timezone: ${{ env.USER_TIMEZONE }}

  acti_comm:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: acti_comm.svg
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ github.token }}
          user: ${{ github.repository_owner }}
          template: classic
          base: activity, community
          config_timezone: ${{ env.USER_TIMEZONE }}

  repositories:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: repositories.svg
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ github.token }}
          user: ${{ github.repository_owner }}
          template: classic
          base: repositories
          config_timezone: ${{ env.USER_TIMEZONE }}
